header#main-header {
  width: 100%;
  height: 60px;
  background: #9e6fb9;
  font-size: 18px;
  color: #fff;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  border: 1px solid #fff;
  padding: 7px;
  padding-left: 12px;
  border-radius: 5px;
}
